---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rhdp-published
  namespace: {{ app_namespace }}
  labels:
    app: rhdp-published
    app.kubernetes.io/component: serverless-workflow
    app.kubernetes.io/instance: rhdp-published
    app.kubernetes.io/name: rhdp-published
    app.kubernetes.io/part-of: sonataflow-platform
    component: workflow
    sonataflow.org/workflow-app: rhdp-published
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rhdp-published
  template:
    metadata:
      labels:
        app: rhdp-published
        app.kubernetes.io/component: serverless-workflow
        app.kubernetes.io/instance: rhdp-published
        app.kubernetes.io/name: rhdp-published
        component: workflow
        sonataflow.org/workflow-app: rhdp-published
    spec:
      containers:
      - name: workflow
        image: image-registry.openshift-image-registry.svc:5000/{{ app_namespace }}/rhdp-published:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        env:
        - name: QUARKUS_PROFILE
          value: prod
        - name: QUARKUS_FLYWAY_MIGRATE_AT_START
          value: "true"
        - name: QUARKUS_FLYWAY_BASELINE_ON_MIGRATE
          value: "true"
        - name: KIE_FLYWAY_ENABLED
          value: "true"
        - name: QUARKUS_DATASOURCE_JDBC_URL
          value: jdbc:postgresql://sonataflow-postgresql.{{ app_namespace }}.svc.cluster.local:5432/{{ sonataflow_db_name }}?currentSchema=publishing-house-workflow
        - name: QUARKUS_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: sonataflow-postgresql-svcbind
              key: username
        - name: QUARKUS_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: sonataflow-postgresql-svcbind
              key: password
        resources:
          limits:
            cpu: "2"
            memory: 2Gi
          requests:
            cpu: 500m
            memory: 1Gi
        volumeMounts:
        - name: managed-props
          mountPath: /deployments/config
      volumes:
      - name: managed-props
        configMap:
          name: rhdp-published-managed-props
