---
apiVersion: v1
kind: Service
metadata:
  name: workflow-proxy
  namespace: {{ app_namespace }}
  labels:
    app: workflow-proxy
    component: proxy
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: workflow-proxy
